@charset "utf-8";

*
,
::before,
::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root {
    --green: #296a65;
    --white: #ffffff;
    --black: #000000;
    --gray: #d9d9d9;
    --light-green: #2fac9e;

    --regular-64px: normal normal 400 64px/1.6 "Noto Sans JP", sans-serif;
    --regular-48px: normal normal 400 48px/1.6 "Noto Sans JP", sans-serif;
    --regular-32px: normal normal 400 32px/1.6 "Noto Sans JP", sans-serif;
    --regular-24px: normal normal 400 24px/1.6 "Noto Sans JP", sans-serif;
    --regular-18px: normal normal 400 18px/1.6 "Noto Sans JP", sans-serif;
    --regular-16px: normal normal 400 16px/1.6 "Noto Sans JP", sans-serif;
    --regular-14px: normal normal 400 14px/1.6 "Noto Sans JP", sans-serif;
    --regular-12px: normal normal 400 12px/1.6 "Noto Sans JP", sans-serif;
    --bold-64px: normal normal 700 64px/1.6 "Noto Sans JP", sans-serif;
    --bold-48px: normal normal 700 48px/1.6 "Noto Sans JP", sans-serif;
    --bold-32px: normal normal 700 32px/1.6 "Noto Sans JP", sans-serif;
    --bold-24px: normal normal 700 24px/1.6 "Noto Sans JP", sans-serif;
    --bold-18px: normal normal 700 18px/1.6 "Noto Sans JP", sans-serif;
    --bold-16px: normal normal 700 16px/1.6 "Noto Sans JP", sans-serif;
    --bold-14px: normal normal 700 14px/1.6 "Noto Sans JP", sans-serif;
    --bold-12px: normal normal 700 12px/1.6 "Noto Sans JP", sans-serif;
}
